<!DOCTYPE html>
<html>
<head>
  <title>Ideabox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Ideabox</h1>
    <%= yield %>
  </div>

<%= javascript_include_tag 'application' %>
</body>
</html>
